<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head %>
    <title>Document</title>
</head>

<body>
    <div class="container">

    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
        $.ajax({
            url: 'api/usuarios/',
            method: 'get',
            headers: {
                Authorization: "JWT " + localStorage.getItem('myToken')
            },
            success: function(data){
                var html = '';
                data.forEach(element => {
                    html = html + '<li>'+ element.usuario + '</li>';
                });
                $('.container').html('<ul>' + html + '</ul>');
            },
            error: function (error){
                $('.container').html('<h2> Error al cargar usuarios</h2>');
            }

        })
    })


    </script>




</body>

</html>